[Desktop Entry]
Encoding=UTF-8
Name=Firefox
Comment=Launch Firefox
Exec=lxterminal -e 'source ~/.containers && firefox'
Icon=/usr/share/icons/Windows-10/scalable/apps/web-browser-symbolic.svg
Type=Application
Terminal=false
Categories=Utility;GTK;
Hidden=false
StartupNotify=false
