[Desktop Entry]
Encoding=UTF-8
Name=Internet Explorer
Comment=Launch Internet Explorer
Exec=bash -c 'source ~/.containers && firefox %u'
Icon=/usr/share/icons/Windows-10/scalable/apps/web-browser-symbolic.svg
Type=Application
Terminal=false
Categories=Network;
Hidden=false
StartupNotify=false
