[Desktop Entry]
Encoding=UTF-8
Name=Geary
Comment=Launch Geary
Exec=bash -c 'source ~/.containers && geary'
Icon=/usr/share/icons/Windows-10/scalable/apps/claws-mail.svg
Type=Application
Terminal=false
Categories=Other;
Hidden=false
StartupNotify=false
