[Desktop Entry]
Encoding=UTF-8
Name=Excell
Comment=Launch Excell
Exec=lxterminal -e 'source ~/.containers && libreoffice-calc'
Icon=/usr/share/icons/Windows-10/scalable/apps/libreoffice-calc.svg
Type=Application
Terminal=false
Categories=Office;
Hidden=false
StartupNotify=false
