[Desktop Entry]
Type=Application
Icon=system-file-manager
Name=Nautilus
GenericName=File Manager
Comment=Browse the file system and manage the files
Categories=System;FileTools;FileManager;Utility;Core;GTK;
Exec=bash -c 'source .containers && nautilus %U'
StartupNotify=true
Terminal=false
MimeType=inode/directory;
