[Desktop Entry]
Encoding=UTF-8
Name=Thunderbird
Comment=Launch Thunderbird
Exec=bash -c 'source ~/.containers && thunderbird'
Icon=/usr/share/icons/Windows-10/scalable/apps/claws-mail.svg
Type=Application
Terminal=false
Categories=Other;
Hidden=false
StartupNotify=false
